body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    color: #522900;
    height: 100vh;
    
}

header {
    /* border-bottom: 1px solid #ddd; */
    padding: 0 0;
    height: 60px;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 0px;

}

#logo {
    padding-left: 20px;
    padding-top: 10px;
}
#logo img{
    max-width: 250px;
    height: auto;
}

.menu {
    list-style: none;
    gap: 30px;
    display: flex;
    padding-right: 20px;
    margin-right: 2%;
    align-items: center;
}

.menu a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

#addToiletStyle {
    background-color: #F57C00;
    color: white;
    border-radius: 40px; /* Round rectangle */
    padding: 7px 15px;
    text-align: center;
    cursor: pointer;
}

#addToiletStyle:hover {
    background-color: #522900;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 0px;
    height: 40px;
    
}

.footerMenu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 5%;
    padding-right: 4px;
    align-items: center;
    
}

.footerMenu a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.creatorsName {
    margin-left: 2%;
    font-weight: bold;
    font-size: 13px;  
}

.creatorsName a {
    color: inherit;
}


.container {
    /* border: 4px solid red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
}

.leftDiv {
    /* border: 4px solid blue; */
    width: 40%; /* 50% of the parent's width */
    height: 50vh; /* 20% of the viewport height */
    border-right: 2px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    
    

}

/*
#divInsideLeftDiv {
    padding: 60px 60px;

}
*/


.leftDiv p {
    font-size: 18px;
}


.rightDiv {
    /* border: 4px solid yellow;   */
    width: 50%; /* 50% of the parent's width */
    height: 50vh; /* 20% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.signUpAndInBox {
    
    border-radius: 30px;
    border: 1.5px solid #e0e0e0;
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    color: #163023;
    
   
}

#divForSignUpAndSignInBtn {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
}

#signUpBtnDiv {
    height: 35px;
    border-bottom: 1.5px solid #e0e0e0;

}


#signInBtnDiv {
    height: 35px;
    border-bottom: none;

}


#signUpBtn a {
    text-decoration: none;
    color: inherit;
}

#signInBtn a {
    text-decoration: none;
    color: inherit;
}

#SignUpFormDiv {
    /* border: 1.5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #signInForm {
    justify-content: center;
} */

button {
    margin: 20px 65px;
    padding: 10px 20px;
    border: none;
    background-color: #F57C00;
    color: white;
    border-radius: 40px;
    width: 70%;
    text-align: center;
    
    
}

button:hover {
    background-color: #522900;
}


.form {
    
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 70%;
    border: 1.5px solid #e0e0e0;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.form input:focus {
    box-shadow: 0 4px 12px rgba(22, 48, 35, 0.4); /* Shadow effect */
    outline: none; 
  }





#signInForm {
    display: none;
}


#signUpForm {
    display: block;
}


/* Responsive design for mobile screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack the map and form vertically */
    }

    
    .leftDiv, .rightDiv {
        
        width: 100%; /* Each section takes full width */
        box-sizing: border-box; /* Include padding in width calculation */
        height: 50%; /* Each section takes half the viewport height */
    }

   

}



@media (max-width: 768px) {


    #logo {
        padding-left: 20px;
        padding-top: 10px;
    }
    #logo img{
        max-width: 200px;
        height: auto;
    }


}
